# Python
*.py[cod]
__pycache__

# Development tools
/.venv
/dist
/.ruff_cache
/.mypy_cache
/.pytest_cache
/.coverage
/.coverage.*
/htmlcov

# Data
/.env
/k8s-values.yaml

# Editor
*.swp
/.idea
/.vscode/*
!/.vscode/launch.json
